<!DOCTYPE html>
<html>

<head>
    <title>URL Shortener</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="maincontainer">
        <h1>URL Shortener</h1>
        <form action="/" method="POST">
            <label for="long-url">Enter or Paste Your long URL:</label>
            <input type="text" id="long-url" name="fullUrl">
            <button type="submit" id="shorten-btn">Shorten</button>
        </form><br>
        <form action="/searchurl" method="POST">
            <label for="long-url">Find your short URL:</label>
            <input type="text" id="long-url" name="url">
            <button type="submit" id="shorten-btn">Find your URL</button>
        </form>


        <div id="short-url-container">
            <p>Here's your all shortened URL:</p>
            <div id="short-url">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Full URL</th>
                            <th>Short URL</th>
                            <th>No. of Clicks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% shortUrls.forEach(shortUrl=> { %>
                            <tr>
                                <td><a href="<%= shortUrl.full %>">
                                        <%= shortUrl.full %>
                                    </a></td>
                                <td><a href="<%= shortUrl.short %>">
                                        <%= shortUrl.short %>
                                    </a></td>
                                <td>
                                    <%= shortUrl.clicks %>
                                </td>

                            </tr>
                            <% }) %>
                    </tbody>
                </table>

            </div>
        </div>

</body>

</html>